@model PawBuddy.Models.Doa

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Doar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @{
            var animalId = ViewBag.AnimalId;
        }
        <form asp-action="Create" asp-route-id="@animalId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrecoAux" class="control-label"></label>
                <input asp-for="PrecoAux" class="form-control"/>
                <span asp-validation-for="PrecoAux" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UtilizadorFK"/>
            <input type="hidden" asp-for="AnimalFK" value="@ViewBag.AnimalId"/>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

