@model PawBuddy.Models.Doa

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Doa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataD" class="control-label"></label>
                <input asp-for="DataD" class="form-control" />
                <span asp-validation-for="DataD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtilizadorFK" class="control-label"></label>
                <select asp-for="UtilizadorFK" class="form-control" asp-items="ViewBag.UtilizadorFK"></select>
                <span asp-validation-for="UtilizadorFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalFK" class="control-label"></label>
                <select asp-for="AnimalFK" class="form-control" asp-items="ViewBag.AnimalFK"></select>
                <span asp-validation-for="AnimalFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

